body
    {
        color: rgb(247, 7, 7);
    font-style: italic;background-color: cornsilk;
}
p{color: rgb(0, 0, 0);background-color: darkcyan;}
p{font-style: inherit;}
d1{background-color: darkcyan;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: right;}
h1{font-size: larger;}